/***********  languages module *************/

ul.m-languages {
  border-bottom: solid 1px gray;
  padding-bottom: 10px;
  padding-top: 5px;
  width: 100%;
}

ul.m-languages a {
  padding-right: 1em;
}