/***********  links module *************/

ul.m-links li {
  display: block;  
}

ul.m-links {
  display: inline-block;
  float: left;
  width: 8%;
  margin-top: 10px;
  margin-right: 0;
}

ul.copyright {
  display: inline-block;
  float: left;
  margin-top: 3%;
  width: 100%;
}
